:root {
    --neutral-0: #FFFFFF;
    --neutral-10: #F2f2f8;
    --neutral-20: #DCDAE6;
    --neutral-30: #D0CEDE;
    --neutral-40: #C6C4D4;
    --neutral-50: #A5A3B8;
    --neutral-60: #48455F;
    --neutral-70: #2D2B3B;
    --neutral-80: #24222F;
    --neutral-90: #111019;
    --blue-10: #DFDBFA;
    --blue-40: #5038E6;
    --blue-50: #361BD9;
    --blue-60: #2D17B5;
    --red-40: #E82D5A;
    --red-50: #E82D5A;

    // Default theme variables
    // they are overwritten by base/_themes.scss when switching themes.
    --theme-bg-app: var(--neutral-10);

    --theme-bg-accent-default: var(--blue-50);
    --theme-bg-accent-hover: var(--blue-40);
    --theme-bg-accent-active: var(--blue-60);

    --theme-bg-neutral-default: var(--neutral-0);
    --theme-bg-neutral-hover: var(--neutral-10);
    --theme-bg-neutral-active: var(--neutral-20);

    --theme-border-app: var(--neutral-20);
    --theme-border-accent: var(--blue-40);
    --theme-border-neutral: var(--neutral-30);
    --theme-border-error: var(--red-50);

    --theme-text-accent: var(--blue-50);
    --theme-text-primary: var(--neutral-90);
    --theme-text-secondary: var(--neutral-60);
    --theme-text-inverse: var(--neutral-0);
    --theme-text-disabled: var(--neutral-50);
    --theme-text-error: var(--red-50);
}