:root {
    --neutral-0: #FFFFFF;
    --neutral-10: #F2f2f8;
    --neutral-20: #DCDAE6;
    --neutral-30: #D0CEDE;
    --neutral-40: #C6C4D4;
    --neutral-50: #A5A3B8;
    --neutral-60: #48455F;
    --neutral-70: #2D2B3B;
    --neutral-80: #24222F;
    --neutral-90: #111019;
    --blue-10: #DFDBFA;
    --blue-40: #5038E6;
    --blue-50: #361BD9;
    --blue-60: #2D17B5;
    --red-40: #E82D5A;
    --red-50: #E82D5A;
}