// Theme will trigger when the html body gets 
// the "data-theme-mode" attribute value, "light" or "dark".
// In the current project it is handled by React components 
// TopBar.tsx inside src\components\top-bar.tsx.

// Light mode
[data-theme-mode="light"] {
    --theme-bg-app: var(--neutral-10);

    --theme-bg-accent-default: var(--blue-50);
    --theme-bg-accent-hover: var(--blue-40);
    --theme-bg-accent-active: var(--blue-60);

    --theme-bg-neutral-default: var(--neutral-0);
    --theme-bg-neutral-hover: var(--neutral-10);
    --theme-bg-neutral-active: var(--neutral-20);

    --theme-border-app: var(--neutral-20);
    --theme-border-accent: var(--blue-40);
    --theme-border-neutral: var(--neutral-30);
    --theme-border-error: var(--red-50);

    --theme-text-accent: var(--blue-50);
    --theme-text-primary: var(--neutral-90);
    --theme-text-secondary: var(--neutral-60);
    --theme-text-inverse: var(--neutral-0);
    --theme-text-disabled: var(--neutral-50);
    --theme-text-error: var(--red-50);

    --theme-bg-gradient: linear-gradient(to bottom,
            rgba(0 0 0 / 100%),
            rgba(0 0 0 / 35%),
            rgba(0 0 0 / 3%),
            rgba(0 0 0 / 0%),
            rgba(0 0 0 / 0%),
            rgba(0 0 0 / 0%),
            rgba(0 0 0 / 0%))
}

// Dark mode
[data-theme-mode="dark"] {
    --theme-bg-app: var(--neutral-90);

    --theme-bg-accent-default: var(--blue-50);
    --theme-bg-accent-hover: var(--blue-40);
    --theme-bg-accent-active: var(--blue-60);

    --theme-bg-neutral-default: var(--neutral-80);
    --theme-bg-neutral-hover: var(--neutral-80);
    --theme-bg-neutral-active: var(--neutral-70);

    --theme-border-app: var(--neutral-70);
    --theme-border-accent: var(--blue-40);
    --theme-border-neutral: var(--neutral-60);
    --theme-border-error: var(--red-40);

    --theme-text-accent: var(--blue-40);
    --theme-text-primary: var(--neutral-0);
    --theme-text-secondary: var(--neutral-40);
    --theme-text-inverse: var(--neutral-0);
    --theme-text-disabled: var(--neutral-60);
    --theme-text-error: var(--red-40);

    --theme-bg-gradient: linear-gradient(to top,
            rgba(255 255 255 / 100%),
            rgba(255 255 255 / 100%),
            rgba(255 255 255 / 100%),
            rgba(255 255 255 / 25%),
            rgba(255 255 255 / 0%),
            rgba(255 255 255 / 0%),
            rgba(255 255 255 / 0%))
}