// Function to add font styles based on the style guide.
// Example usage: @include apply-font-styles($ui, medium, bold);
@mixin apply-font-styles($map, $size, $weight: null) {
    $styles: map-get(map-get($map, $size), $weight);

    @if $styles {
        font-size: map-get($styles, font-size);
        font-weight: map-get($styles, font-weight);
        line-height: map-get($styles, line-height);
        text-transform: map-get($styles, text-transform);
        letter-spacing: map-get($styles, letter-spacing);
    }

    @else {
        // If no weight specified, use the regular style
        $regularStyles: map-get($map, $size);
        font-size: map-get($regularStyles, font-size);
        font-weight: map-get($regularStyles, font-weight);
        line-height: map-get($regularStyles, line-height);
        text-transform: map-get($regularStyles, text-transform);
        letter-spacing: map-get($regularStyles, letter-spacing);
    }
}

// Function to set all the mask-image properties exept the image itself.
// Example usage:  @include colored-icon(var(--theme-border-neutral))
@mixin colored-icon($color) {
    width: 2rem;
    height: 2rem;
    background-color: $color;
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: cover;
}

// MEDIA QUERY MANAGER

// 0 - 600px:      Phone
// 600 - 900px:    Tablet portrait
// 900 - 1200px:   Tablet landscape
// [1200 - 1800]   is where our normal styles apply
// 1800px + :      Big desktop

// $breakpoint arguement choices:
// - phone
// - tab-port
// - tab-land
// - big-desktop

// example usage:  @include response(phone) {
//         font-size: 45%;
//     }

@mixin response($breakpoint) {
    @if $breakpoint ==phone {
        @media (max-width: 37.5em) {
            @content
        }
    }

    @if $breakpoint ==tab-port {
        @media (max-width: 56.25em) {
            @content
        }
    }

    @if $breakpoint ==tab-land {
        @media (max-width: 75em) {
            @content
        }
    }

    @if $breakpoint ==big-desktop {
        @media (min-width: 112.5em) {
            @content
        }
    }
}

// Helper functions to get button-primary-styles
@mixin button-primary-styles() {
    background-color: var(--theme-bg-accent-default);
    color: var(--theme-text-inverse);

    .btn__icon {
        @include colored-icon(#fff);
    }

    .btn__text {
        color: var(--theme-text-inverse);
    }
}

// Helper functions to get button-primary-states
@mixin button-primary-states() {
    &:hover {
        background-color: var(--theme-bg-accent-hover);
    }

    &:active {
        background-color: var(--theme-bg-accent-active);
    }
}

// Helper functions to get button-secondary-styles
@mixin button-seondary-styles() {
    background-color: var(--theme-bg-neutral-default);
    color: var(--theme-text-primary);
    border: $btn-border;

    .btn__icon {
        @include colored-icon(var(--theme-text-secondary));
    }

    .btn__text {
        color: var(--theme-text-secondary);
    }
}

// Helper functions to get button-secondary-states
@mixin button-secondary-states() {
    &:hover {
        background-color: transparent;

        .btn__text {
            color: var(--theme-text-primary)
        }

        .btn__icon {
            @include colored-icon(var(--theme-text-primary));
        }
    }

    &:active {
        background-color: var(--theme-bg-neutral-active);
    }
}

// Helper functions to get button-tertiary-styles
@mixin button-tertiary-styles() {
    background-color: transparent;
    color: var(--theme-text-primary);

    .btn__icon {
        @include colored-icon(var(--theme-text-secondary));
    }

    .btn__text {
        color: var(--theme-text-secondary)
    }
}

// Helper functions to get button-tertiary-states
@mixin button-tertiary-states() {
    &:hover {
        border: $btn-border;

        .btn__text {
            color: var(--theme-text-primary)
        }

        .btn__icon {
            @include colored-icon(var(--theme-text-primary));
        }
    }

    &:active {
        background-color: var(--theme-bg-neutral-active);
    }
}