.signup {
    max-width: 51.2rem;

    @include response(phone) {
        max-width: 100%
    }
}

.intro {
    .intro__title {
        @include apply-font-styles($display, medium);
        margin-bottom: .8rem;

        @include response(phone) {
            @include apply-font-styles($display, small);
        }
    }

    .intro__subtitle {
        @include apply-font-styles($paragraph, medium, regular);
        color: var(--theme-text-secondary);
    }
}

.actions {
    display: flex;
    flex-direction: column;
    gap: .8rem;

    &__spacer {
        @include apply-font-styles($ui, small, regular);
        align-self: center;
    }
}

.reverse-order {
    flex-direction: column-reverse;
}