// BORDERS
$btn-border-transparent: .15rem solid transparent;
$btn-border: .15rem solid var(--theme-border-app);

.btn {
    @include apply-font-styles($ui, medium, bold);
    padding: .5rem;
    border-radius: .8rem;
    cursor: pointer;
    display: flex;
    transition: all ease-out 75ms;
    border: $btn-border-transparent;
    font-family: 'DMSans';
    justify-content: center;

    &__text {
        padding: 0rem .8rem;
        gap: .8rem;
    }

    &__primary {
        @include button-primary-styles();
        @include button-primary-states()
    }


    &__secondary {
        @include button-seondary-styles();
        @include button-secondary-states()
    }

    &__tertiary {
        @include button-tertiary-styles();
        @include button-tertiary-states()
    }

    &--disabled {
        color: var(--theme-border-neutral);
        border: $btn-border;
        pointer-events: none;

        .btn__icon {
            @include colored-icon(var(--theme-border-neutral));
        }

        .btn__text {
            color: var(--theme-border-neutral)
        }
    }

    &__primary--hover {
        background-color: var(--theme-bg-accent-hover);
    }

    &__primary--active {
        background-color: var(--theme-bg-accent-active);
    }

    &__secondary--hover {
        background-color: transparent;

        .btn__text {
            color: var(--theme-text-primary)
        }

        .btn__icon {
            @include colored-icon(var(--theme-text-primary));
        }
    }

    &__secondary--active {
        background-color: var(--theme-bg-neutral-active);
    }

    &__tertiary--hover {
        border: $btn-border;

        .btn__text {
            color: var(--theme-text-primary)
        }

        .btn__icon {
            @include colored-icon(var(--theme-text-primary));
        }
    }

    &__tertiary--active {
        background-color: var(--theme-bg-neutral-active);
    }
}